<!DOCTYPE html>
<html>
<head>
    <title>Add Shift</title>
</head>
<body>
    <h1>Add Shift</h1>
    <form method="post">
        Date: <input type="date" name="date" required><br>
        Time: <input type="text" name="time" placeholder="09:00-13:00" required><br>
        Employee: <input type="text" name="employee" required><br>
        <input type="submit" value="Add">
    </form>
    
    <hr> <a href="/">Back to List</a> | 
    <a href="/calendar" style="font-weight:bold; color:blue;">View Full Roster Table</a>
</body>
</html>
